.sql-editor {
  width: 100%;
  height: 280px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}
.sql-output {
  width: 100%;
  height: 0px;
  overflow: scroll;
  border: 1px solid #ccc;
  margin-top: 8px;
  font-family: monospace;
}
.sql-error {
  width: 100%;
  margin-top: 8px;
  color: red;
}
table {
  border-spacing: 4px;
}
td, th {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
main {
    max-width: 800px;
    margin: auto;
    font-family:arial;
}
